<a href="https://colab.research.google.com/github/kirubaharan12/Apple-Analysis/blob/main/3_0_How_to_Set%2C_Reset%2C_and_Use_Indexes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [ ]:
df.set_index('email', inplace=True)
"""we are converting the email as index.in pandas that index will not affect the original dataframe untill we use rthe inplace word
if we use the inplace as the TRUE it will set the iondex in original dataframe"""

In [ ]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [ ]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [ ]:
df.loc['CoreyMSchafer@gmail.com', 'last']
"""we converted the email as the index so we acces it with the email by loc - In this code we access the email index's row and last name column"""

'Schafer'

In [ ]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [ ]:
df.reset_index(inplace=True)
"""we reseted the index to normal form so the index will become integer"""
df

NameError: name 'df' is not defined